# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
pnpm-error.log*

# Env files (secrets!)
.env
.env.local
.env.*.local

# Misc
.DS_Store
